{{define "base"}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">  
  <style>
  .my-footer {
      height: 50px;
      padding: 10px;
      background-color: rgb(194, 189, 189);
    }
  </style>
  
  {{block "css" .}}

  {{end}}

</head>
<body>
  
  {{block "content" .}}

  {{end}}

  
  

    <div class="row my-footer">
        <div class="col">
        </div>
        <div class="col">
        </div>
    <div class="col">
      Create by Olha Yarukhina, 2022
    </div>
  </div>
  {{block "js" .}}
  {{end}}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<script>
  console.log("I am printing fromjavascript");

// Example starter JavaScript for disabling form submissions if there are invalid fields
// calendar for all browsers
(() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
              form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
})()

const elem = document.getElementById('reservation-dates');
const rangepicker = new DateRangePicker(elem, {
  // ...options
  format: "yyyy-mm-dd",
}); 


 
// document.getElementById("colorButton").addEventListener("click", function(){
//let myEl = document.getElementById("myAlert");
//myEl.classList.add("");
 //})
</script>
</body>
</html>           

{{end}}
