 {{template "base" .}}

 {{define "content"}}
 
  <div id="main-carousel" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" style="margin: 0px;">
         <div class="carousel-indicators">
                          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#main-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
              <div class="carousel-inner">
                          <div class="carousel-item active" data-bs-interval="5000">
                            <img src="/static/images/spaceship1.jpg" class="d-block w-100" alt="...">
                                  <div class="carousel-caption d-none d-md-block">
                                    <h1>Welcome to spaceship</h1>
                                    <p>Book your the most amazing trip</p>
                                  </div>
                          </div>
                          <div class="carousel-item" data-bs-interval="5000">
                            <img src="/static/images/spaceship4.jpg" class="d-block w-100" alt="...">
                                    <div class="carousel-caption d-none d-md-block">
                                      <h1>Dreams Come True</h1>
                                      <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                          </div>
                            <div class="carousel-item" data-bs-interval="5000">
                              <img src="/static/images/spaceship5.jpg" class="d-block w-100" alt="...">
                                        <div class="carousel-caption d-none d-md-block">
                                          <h1>Let's Go!</h1>
                                          <p>Some representative placeholder content for the third slide.</p>
                                        </div>
                            </div>
          </div>
      </div>
  </div>

  
  <div id="main-carousel" class="carousel slide" style="position: absolute; top: 0px; z-index: 1; width: 100%" data-bs-ride="false">
    <nav class="navbar navbar-expand-lg" style="background: rgba(233, 223, 223, 0.329)" >
      <div class="container-fluid">
           <a class="navbar-brand" href="/">:)</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/about">About</a>
                  </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Option
                        </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/trip">Atmosphere trip</a></li>
                            <li><a class="dropdown-item" href="/onMars">Room on Mars</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/school">School</a></li>
                
                          </ul>
                        </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/reviews">Reviews</a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link disabled"></a>
                  </li>
          </ul>      
              <div class="d-flex">
                <a href="/reservation" class="btn btn-danger btn-lg">Book now</a>
              </div>
        </div>
      </div>
    </nav>
  </div>

  
 {{end}}















<!-- 
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body class="d-flex h-100 text-center text-bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">  </h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="#">  </a>
            <a class="nav-link fw-bold py-1 px-0" href="#"> gfxj </a>
            <a class="nav-link fw-bold py-1 px-0" href="#"> vnvn </a>
          </nav>
        </div>
      </header>
    
      <main>
        <h1>Hello researcher!</h1>
        <p class="lead"> Are you ready?</p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-black">Press here</a>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>Created by <a href="https://www.facebook.com/olga2828" class="text-white">Olha Yarukhina</a></a></p>
      </footer>
    </div>
</body>
</html>




<h1>Головна сторінка</h1>

    {{ if eq .Name "Bob"}}
    <span> Hello dear {{.Name}}</span>
    {{ else }}
    <span> Who are you? </span>
    {{ end }} 

    <ul>
        {{ range .Hobbies }}
        <li><b>{{ . }}</b></li>
        {{ else }}
        <b>Немає необхідної інформації </b>
        {{ end }}


    </ul>

    <p>Користувач: {{.Name}}</p>
-->